* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 1s ease;
}

body {
  background: rgb(245, 245, 245);
}

.search {
  background: white;
  position: relative;
  width: 300px;
  font-family:Verdana;
  border-radius:16px;  
}

.search input {
  width: 100%;
  padding: 20px 60px 20px 20px;
  display: block;
  font-size: 16px;  
  border-radius:16px;
}

.search button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 8px;
  z-index: 2;
}

.search input:focus {
  color: #802;
}

#container{
  display: flex;
  direction: row;
  border: 1px solid black;
  border-radius: 5px;
  height: auto;
  padding: 10px;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
  background-color: white;
}

#container > div{
  margin: 5px;
}

aside{
  width: 25%;
  height: 100%;
  margin: 10px;
}

aside button{
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

h1{
  text-align: center;
}

h2{
  font-size: 18px;
}

#info{
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 100px; 
}

#info button{
  color: white;
  background-color: black;
}

#forecast{
  width: 100%;
  padding: 5px;
}

.forecast > div{

}

button{
  padding: 10px;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 5px;
  color: white;
}

button:hover{
  background-color: #005ab9;
}

.infoBox{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 100%;
}

#sidebar{
  width: 250px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -255px;
  margin: 0px;
  padding: 0px;
}

.flex{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.flex > div{
  width: 100%;
  margin: 10px;
}

.chatButton{
  position: fixed;
  bottom: 20px;
  left: 80%;
}

.forecast{
  width: 75%;
}

.arrow{
  font-size: 25px;
}

.dialog{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 1px 3px 0px grey;
  text-align: center;
  padding: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.dialog > *{
  padding: 10px;
}

.dialog input[type=text]{
  padding: 10px;
  width: 100%;
  border: none;
  text-decoration: none;
  outline: none;
  border-radius: 20px;
  font-size: 20px;
  background-color: #f0f2f5;
  margin-bottom: 10px;
}

.none{
  display: none;
}

.show{
  display: block;
}
.toggle{
  display: flex;
  box-shadow: 0px 1px 3px 0px grey;
  border-radius: 10px;
  width: 100%;
}

.toggle:hover{
  background-color: #def1ff;
}

.messageBox{
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  overflow-y: scroll;
  height: 350px;
}

.message{
  color: white;
  border-radius: 15px;
  padding: 10px;
  display: inline-flex;
  justify-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #007bff;
}

.answerMessage{
  color: white;
  border-radius: 15px;
  padding: 10px;
  display: inline-flex;
  justify-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #007bff;
}

.answerContent{
  margin-bottom: 10px;
}

ul > li{
  margin-right: 10px;
}

.right{
  margin-left: 30px;
}

.messageContent{
  margin-bottom: 10px;
  text-align: left;
}

.messageContent li{
  display: inline;
}

.inputBox{
  width: 100%;
  display: flex;
  justify-content: space-around;
  justify-items: center;
}

.about{
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

table{
  width: 100%;
}